@import 'lib';

body {
    background: #f8f8f8;
    line-height: 1.5em;
}

article, header h1 {
    width: 550px;
    margin: .5em auto;
}
article h1 {
    line-height: 100%;
}

article {
    background: #fff;
}

p img {
    display: block;
    margin: 3em auto;
}

pre {
    margin-bottom: 1.4em;
}
.meta {
    text-align: right;
    color: #666;
    font-size: 12px;
}