@import 'lib';

body {
    background: #f8f8f8;
    line-height: 1.5em;
}

header h1 {
    a:link,
    a:hover,
    a:active,
    a:visited {
        color: #fff;
        text-decoration: none;
    }
}

article, header h1 {
    width: 550px;
    margin: .5em auto;
}
article h1 {
    line-height: 100%;
}

article {
    background: #fff;
}

p img {
    display: block;
    margin: 3em auto;
}

pre {
    margin-bottom: 1.4em;
}
.meta {
    text-align: right;
    color: #666;
    font-size: 12px;
}

p.full {
    margin: -1em -2em;
}

#twist {
    position: absolute;
    top: 0;
    right: 0;
}